In [1]:
# Import libraries
import pandas as pd
import numpy as np

# Change pandas settings so we can see the all columns in the dataframe
pd.set_option('max_columns', 99)

# Preprocessing Data

In [2]:
anime_df = pd.read_csv("cleaned_anime.csv")
anime_df.head()

,anime_id,name,genre
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun..."
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun..."
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F..."
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ..."
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']"

In [3]:
anime_df.dropna(subset=["genre"], inplace=True)

In [4]:
anime_df["genre"] = anime_df["genre"].str.replace("'", "").str.strip("][").str.split(", ")
type(anime_df["genre"][0])

list

In [5]:
anime_df.head()

,anime_id,name,genre
0,28891,Haikyuu!! Second Season,"[Comedy, Sports, Drama, School, Shounen]"
1,23273,Shigatsu wa Kimi no Uso,"[Drama, Music, Romance, School, Shounen]"
2,34599,Made in Abyss,"[Sci-Fi, Adventure, Mystery, Drama, Fantasy]"
3,5114,Fullmetal Alchemist: Brotherhood,"[Action, Military, Adventure, Comedy, Drama, M..."
4,31758,Kizumonogatari III: Reiketsu-hen,"[Action, Mystery, Supernatural, Vampire]"

In [6]:
# Using scikit learn's MLB package to one hot encode the genres
from sklearn.preprocessing import MultiLabelBinarizer

# Code from https://stackoverflow.com/questions/45312377/how-to-one-hot-encode-from-a-pandas-column-containing-a-list
mlb = MultiLabelBinarizer(sparse_output=True)

anime_df = anime_df.join(pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(anime_df["genre"]),
                index=anime_df.index,
                columns=mlb.classes_))

# Drop the origininal genre column
anime_df.drop("genre", axis=1, inplace=True)

In [7]:
anime_df.head()

,anime_id,name,,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,Hentai,Historical,Horror,Josei,Kids,Magic,Martial Arts,Mecha,Military,Music,Mystery,Parody,Police,Psychological,Romance,Samurai,School,Sci-Fi,Seinen,Shoujo,Shoujo Ai,Shounen,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,28891,Haikyuu!! Second Season,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
1,23273,Shigatsu wa Kimi no Uso,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,34599,Made in Abyss,0,0,1,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5114,Fullmetal Alchemist: Brotherhood,0,1,1,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,31758,Kizumonogatari III: Reiketsu-hen,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0

In [8]:
rating_df = pd.read_csv("cleaned_rating.csv")
rating_df.head()

               user  anime_id  rating
0  -----noname-----     18441       2
1  -----noname-----      2025       4
2   ---SnowFlake---      1535       6
3       ---was-----     10110       8
4      --EYEPATCH--     35839      10

In [10]:
rating_df["user"].value_counts()

Sidewinder51    611
Stark700        537
ktulu007        482
LegendAqua      442
ggultra2764     355
               ...
caldxm            1
liabia            1
Marii-nyan        1
KykyGhibli        1
aaronschmit       1
Name: user, Length: 47885, dtype: int64

In [16]:
import random
random.seed(5)
random.choice(rating_df["user"])

'Vaenny'

In [17]:
user_df = rating_df[rating_df["user"]=="Vaenny"]

# Reset the indexes
user_df.reset_index(drop=True, inplace=True)
# Drop the columns that are not needed
user_df = user_df.drop("user", axis=1)
user_df

    anime_id  rating
0      15583       6
1       8675       9
2       1824       8
3      23289       8
4       9253       9
5      19815       8
6      30014       7
7      37281       6
8      10417       8
9       8861       9
10     31952       8
11      6392       6
12     32281      10
13     30015       7
14     14199       6
15     23233       7
16     12367       6
17     22865       7
18     32542       9
19     31798       8
20      6201       9
21       811       7
22     10396       8
23     31964       9
24     17827       7
25     31442       7
26     23037       5
27     21561       7
28     29758       6
29     33204       6
30      3958       7
31     31953       7
32     28155       7
33     28725      10
34     23079       6
35     27787       7
36       670       5
37     31404       8
38     31804       7
39     24705       6
40     30307       7
41     28221       7
42     34823       3
43     25157       7
44     30740       6
45     22147       9
46     38826       9
47     32438       5
48     24439       8
49      4548       5
50     28999       9
51     32093       8
52     34498       8
53     17729       9
54     28623       8
55     29803       7
56     31240       8
57     32608       4